.bg{
   
    /* background: linear-gradient(rgba(224, 4, 248, 0.55),white); */
  padding: 0;
}

.main-1{
    /* display: flex; */
    /* justify-content: center !important;  */
   border-top:  3px solid white;
   border-left:  3px solid white;
   padding-top: 10.5rem;
}
.about-main{
    min-height: 85vh;
    padding: 30px;  
    display: block;
}
#content{
    padding: 30px;
    font-size: 20px;
    position: relative;
    bottom: 4rem;
}
#image{
    padding-left: 3rem;
}
.main-2{
    border-bottom:  3px solid rgba(224, 4, 248);
    border-right:  3px solid rgba(224, 4, 248);
}
#arrow{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 30px;
    color: white;
}
.bg i{
font-size: 30px;
}
@media screen and (max-width: 900px) {
    #content{
        font-size: 10px;
        padding: none;
    }
    #image{
        padding: none;
    }
  }
  /* @media screen and (max-width: 400) {
    #image{
        padding: none;
    }
  } */

