.pro-cont{
 display: flex;
 flex-direction: row;
 min-height: 100vh;
    
}
.ic{
font-size: 40px;
color: black;
}


@media screen and (max-width: 900px) {
    .pro-cont{
        display: flex;
        flex-direction: column;
    }
  }